* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f4f6fb;
}


.header {
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  padding: 60px 20px;
  color: white;
  text-align: center;
}

.header h1 {
  font-size: 3rem;
}

.header p {
  margin-top: 10px;
  opacity: 0.9;
}


.container {
  max-width: 1100px;
  margin: -40px auto 50px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}


.card {
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}

.card h2 {
  margin-bottom: 15px;
}


.expense-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.expense-form input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.expense-form button {
  padding: 12px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.expense-form button:hover {
  background: #4338ca;
}


.total-card h1 {
  font-size: 2.5rem;
  color: #4f46e5;
}


.expense-list {
  list-style: none;
  margin-top: 10px;
}

.expense-list li {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid #eee;
  align-items: center;
}

.expense-list button {
  background: #ef4444;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}


.chart-card {
  text-align: center;
}
